.loading-indicator{
  position: fixed;
  z-index: 12;
  top: 40%;
  left: 28%;
  width: 44%;
  height: 20%;
  text-align: center; 
  padding-top: 3em;
  background-color: rgba(67,67,67,0.8);
  color: white;
}